/* I added this to solve a safari bug */
.background {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

.background.dark { 
  background-color: var(--light-black);
}

.dark p {
  color: #e8e8e8;
}

.canvas_wrapper {
  z-index: -10;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}

.profile_img .picture {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
  z-index: 2;
}

.profile_img .picture #light_bulb {
  opacity: 0;
  transition: 0.3s ease-out;
  position: relative;
}

.profile_img .picture #eyes_active {
  opacity: 0;
  animation: blink 3s linear infinite normal forwards;
}
.profile_img .picture #eyes {
  opacity: 0;
  animation: blink_close 3s linear infinite normal forwards;
}

.profile_img .picture:hover #eyes {
  opacity: 0;
  animation: none;
}

.profile_img .picture:hover #eyes_active {
  animation: none;
  opacity: 1;
}

.profile_img .picture:hover #light_bulb {
  opacity: 1;
  transform: translateY(-50px);
}

.profile_img .picture #smile {
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.profile_img .picture:hover #smile {
  opacity: 1;
  transform: scale(1);
}

.profile_img {
  display: flex;
  justify-content: center;
}

.profile .column {
  position: absolute;
  background: var(--secondary-color);
  top: 0;
  width: 10rem;
  height: 100vh;
}

.profile_txt {
  width: 600px;
  margin-left: 5vw;
}
.profile_txt .titles {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.profile_txt .titles h1,
.profile_txt .titles h2,
.profile_txt .titles h3 {
  z-index: 2;
  position: relative;
}

.profile_txt .cta {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-right: 1rem;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 0 var(--primary-color-darker);
  cursor: pointer;
  border: 1px solid transparent;
}

.profile_txt .cta.primary {
  background: var(--secondary-color);
  box-shadow: 2px 2px 0 var(--secondary-color-darker);
}

.profile_txt .cta:hover {
  border: 1px solid white;
}

.profile_txt h2 {
  margin-top: -1rem;
}

.profile_txt h3,
p {
  margin-bottom: 2rem;
}
.profile_txt p {
  line-height: 2rem;
}

.profile_txt .titles .row {
  position: absolute;
  background: var(--primary-color);
  height: 12rem;
  width: 100vw;
  left: 0;
}

/* tablet responsive */
@media screen and (min-width: 601px) and (max-width: 950px) {
  .profile_img .picture {
    width: 12rem;
    height: 12rem;
  }

  .profile_img {
    margin-left: 2.5rem;
  }

  .profile_txt p {
    width: 50vw;
  }

  .profile_txt h2 {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }

  .profile_txt .titles .row {
    height: 9rem;
  }
}

/* phone responsive */
@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile_img .picture {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .profile .column {
    z-index: 0;
    width: 8rem;
  }

  .profile_txt {
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .profile_txt .cta {
    width: max-content;
    margin: 1rem auto;
    border: 1px solid var(--primary-color-darker);
    position: relative;
    z-index: 2;
  }

  .profile_txt .cta.primary {
    border: 1px solid var(--secondary-color-darker);
  }

  .profile_txt .cta.primary:hover {
    border: 1px solid white;
  }

  .profile_txt h2 {
    margin: 0 0 0.5rem 0;
  }

  .profile_txt h3,
  p {
    margin-bottom: 1rem;
  }

  .profile_txt p {
    display: none;
  }

  .profile_txt .titles .row {
    height: 8.5rem;
  }
}
