.loader_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.loader_wrapper .loader_bkg {
  background: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 2px solid var(--dark-color);
}

.loader_wrapper .loader_bkg.right {
  left: 50%;
}

.spinner {
  margin: 100px auto;
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1001;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.dot1 {
  background: var(--secondary-color);
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: var(--primary-color);
}

/* Setting loaded animations */
.loaded .loader_wrapper {
  visibility: hidden;
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.loaded .loader_wrapper .loader_bkg.left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: all 0.3s 0.3s ease-out;
}

.loaded .loader_wrapper .loader_bkg.right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: all 0.3s 0.3s ease-out;
}

.loaded .spinner {
  opacity: 0;
  transition: all 0.3s ease-out;
}
