#sidebar_btn {
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 200ms;
  z-index: 10;
}

#sidebar_btn:hover {
  color: var(--secondary-color);
}

.sidebar {
  z-index: 10;
  width: 10vw;
  min-width: 200px;
  height: 100vh;
  background: var(--dark-color);
  color: white;
  position: fixed;
  top: 0;
  left: -100%;
  width: 20vw;
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  transition: 350ms ease-out;
}

.sidebar_closer {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  opacity: 0;
}

#sidebar_btn_close {
  position: relative;
  top: 2rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.sidebar .menu_items {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

.sidebar .menu_items .menu_item {
  margin-bottom: 11vh;
}

.sidebar .menu_items .menu_item a {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.sidebar .menu_items .menu_item a:hover {
  background: var(--primary-color);
}

.sidebar .menu_items .item_txt {
  margin-left: 1rem;
}

.sidebar.active {
  left: 0;
}
.sidebar_closer.active {
  left: 0;
}

.right_nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  z-index: 5;
}
#language {
  position: relative;
  top: 0.2rem;
  height: 1.5rem;
  cursor: pointer;
}
.right_item {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 200ms;
  z-index: 8;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.light_icon {
  display: none;
}
.dark .light_icon {
  display: block;
}
.dark .dark_icon {
  display: none;
}
.right_item .btn_text {
  font-family: "Space mono", monospace;
  font-size: 0.8rem;
}
.right_item:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .sidebar .menu_items .menu_item {
    margin-bottom: 10vh;
  }

  .right_nav {
    right: 0.7rem;
  }
  #language {
    height: 1.7rem;
    margin-right: 0.3rem;
  }
  .right_item {
    font-size: 2rem;
    margin-left: 0.2rem;
  }
  .right_item .btn_text {
    display: none;
  }
}
